<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <style>
      * {
        color: grey darken-3;
      }
    </style>

    <title>StocksTracker</title>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper grey darken-4" style="padding-left: 30px;">
        <a href="#" class="brand-logo light-green-text text-accent-3"
          >$tocksTracker</a
        >

        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="">Register</a></li>
          <li><a href="">Login</a></li>
        </ul>
      </div>
    </nav>
    <section>
      <p>The simplest way to track your wealth health</p>
    </section>
    <div class="row container">
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
      </div>
      <!-- TradingView Widget END -->
    </div>

    <!-- parallax -->
    <div class="parallax-container">
      <div class="parallax">
        <img src="./assets/img/newspaper.jpg" alt="" class="responsive-img" />
      </div>
    </div>

    <!-- Compiled and minified JavaScript -->
    <script
      type="text/javascript"
      src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js"
      async
    >
        {
        "symbols": [
          {
            "proName": "FOREXCOM:SPXUSD",
            "title": "S&P 500"
          },
          {
            "proName": "FOREXCOM:NSXUSD",
            "title": "Nasdaq 100"
          },
          {
            "proName": "FX_IDC:EURUSD",
            "title": "EUR/USD"
          },
          {
            "proName": "BITSTAMP:BTCUSD",
            "title": "BTC/USD"
          },
          {
            "proName": "BITSTAMP:ETHUSD",
            "title": "ETH/USD"
          }
        ],
        "colorTheme": "dark",
        "isTransparent": false,
        "displayMode": "adaptive",
        "locale": "en"
      }
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script>
      $(document).ready(function () {
        $(".parallax").parallax();
      });
    </script>
  </body>
</html>
